# Ignora esplicitamente il file .gitignore per evitare che venga aggiunto
!.gitignore
.env_*
!*.env_*_example
administration-compose/volumes/pihole_data/*
administration-compose/volumes/pihole_custom_list/custom.list
administration-compose/volumes/pihole_dnsmasq_data/*
administration-compose/volumes/portainer_data/*
administration-compose/volumes/unbound/*
administration-compose/volumes/wireguard/*
administration-compose/volumes/wire_ui_data*
ai-compose/volumes/ollama/*
ai-compose/volumes/ollama-webui/*
devops-compose/volumes/code_data/*
devops-compose/volumes/jenkins_data/*
monitoring-compose/volumes/grafana_influxdb/*
monitoring-compose/volumes/grafana_data/*
monitoring-compose/volumes/loki_data/*
monitoring-compose/volumes/maildir/*
monitoring-compose/volumes/prometheus_config/prometheus.yml
monitoring-compose/volumes/telegraf_config/telegraf.conf
monitoring-compose/volumes/alertmanager/data/*
registry-compose/volumes/gitea_data/*
registry-compose/volumes/gitea_postgres/*
registry-compose/volumes/onlyoffice_data/*
registry-compose/volumes/registry/*
registry-compose/volumes/seafile_data/*
registry-compose/volumes/seafile_maria/*
registry-compose/volumes/grafana_data/*
